.container {
  display: flex;
  /* align-items: space-between; */
  width: 100vw;
  background-color: #232323;
  color: white;
  box-shadow: var(--lightShadow);
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
  /* border: 1px solid pink; */
  flex: 0 1 var(--s6);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: flex;
  /* margin-left: 15%; */
  /* border: 1px solid rebeccapurple; */
}

.logo > div {
  border: 1px solid rgb(136, 141, 155);
  height: 30px;
  width: 35px;
  line-height: 35px;
  /* padding: var(--s-1); */
  font-size: var(--s0);
  color: var(--black);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.blackSquare {
  background: black !important;
}
.link {
  color: #dadada;
  text-decoration: none;
  transition: 0.2s;
  /* flex */
}

.link:hover {
  color: white;
}
