.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbarHeight);
  background-color: #232323;
  color: white;
  justify-content: space-between;
  box-shadow: var(--lightShadow);
  /* box-shadow:  */
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 150px;
  flex-grow: 1;
  height: 100%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-left: 150px;
  letter-spacing: 0.05em;
}

.link {
  color: #dadada;
  text-decoration: none;
  transition: 0.2s;
  /* flex */
}

.link:hover {
  color: white;
}
