.app {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-flow: column;
  width: 100vw;
  border: 1px solid red;
  align-items: center;
}

.page {
  width: 100vw;
  max-width: 1300px;
  /* border: 1px solid red; */
  /* height: 100vh; */
}
