:root {
  /* modular scaling */
  --ratio: 1.61803398875;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.5rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* fixed dimensions */
  --navbarHeight: var(--s2);
  --modalWidth: var(--s6);

  /* colors */
  --highlightBlue: rgb(139, 190, 255);
  --darkBlue: rgb(4, 29, 63);
  --black: #232323;
  --background: rgb(250, 252, 255);

  --pageMaxWidth: 1300px;
  /* other */
  --lightShadow: 0 6px 6px rgba(0, 0, 0, 0.36), 0 3px 3px rgba(0, 0, 0, 0.23);
  --darkShadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background) !important;
}
.Box {
  background: #f8f8f8;
  padding: var(--s-1);
  border: 1px solid #ddd;
}
