.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: var(--s2);
  align-items: center;
  /* height: 500px; */
}

.datePicker {
  display: flex;
  justify-content: center;
  margin-bottom: var(--s0);
}

.menu {
  width: 200px;
  padding: var(--s-1);
  position: relative;
  z-index: 1;
}

.calendarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.currentMonth {
  margin-bottom: 30px;
  font-size: 25px;
}
