.wrapper {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 15px 3px 15px;
  transition: height 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropdown {
  border-radius: 3px;
  max-height: 400px;
}

.dropdown > * {
  background-color: inherit;
  text-align: left;
  padding-right: 15px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f9f9f9; */
  padding: 2px;
}

.listItem {
  color: black;
  padding: 2px;
}

.errorItem {
  color: #666;
  cursor: not-allowed;
}
.listItemSelected {
  color: #2d91f2;
}
.listItem:hover {
  color: #2d91f2;
}

.background1 {
  background-color: white;
}

.background2 {
  background-color: #ddd;
}

.activeBackground {
  background: var(--highlightBlue);
}
.opened {
  composes: dropdown;
  display: flex;
  flex-flow: column;
  border: 1px solid #ddd;
  /* height: 400px; */
  max-height: 400px;
  width: 100%;
  transition: height 0.2s;
  overflow-y: auto;
  box-shadow: var(--lightShadow);
}

.closed {
  composes: dropdown;
  height: 0px;
  transition: height 0.2s;
  overflow-y: hidden;
}
