.month {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 1300px;
  /* height: 80%; */
}

.day {
  flex: 1 1 13.286%;
  /* border: 1px solid green;  */
  padding: var(--s-2);
  display: flex;
  flex-flow: column;
  min-height: var(--s3);
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px solid grey; */
}

.number {
  /* align-self: flex-start; */
  margin-bottom: 10px;
}

.dayHeading {
  composes: day;
  min-height: 0;
  border: none;
}

/* .number {
  position: absolute;
  left: 0;
} */

/* .title {
  text-tranform: capitalize;
  margin-bottom: 20px;
} */

/* .relative {
  position: relative;
} */
