.yearList {
  height: 80%;
  width: 160px;
  /* ^// NAVBAR HEIGHT */
  align-self: center;
  margin-top: -100px;
  overflow-y: scroll;
  background: #feff9c;
  border: 2px solid #aaa;
  border-left: none;
  border-radius: 0 5px 5px 0;
  flex: 0 1 1;
}

.yearList::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: transparent;
  position: fixed;
}

.yearList::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 15px;
}

.year {
  width: 100%;
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid #cce0ff;
}

.monthList {
  padding: 0 18px;
  transition: 0.2s;
}

.expanded {
  composes: monthList;
  max-height: 400px;
}

.collapsed {
  composes: monthList;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}
