.page {
  height: calc(100vh - var(--navbarHeight));
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 43%;
  /* border: 1px solid yellow; */
}

.activeStep {
  display: flex;
  font-size: 200%;
}

.hidden {
  display: none;
}
