.PuzzleIcon {
  /* height: 30%; */
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Image {
  align-self: center;
  margin-bottom: var(--s-2);
}

.Detail {
  /* max-width: var(--s5); */
  /* word-wrap:  */
}

.Header {
  font-weight: 700;
}
