.PuzzleIcon {
  height: 30%;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #f8f8f8;
  border: 1px solid #ddd;
}

.Image {
  align-self: center;
  margin-bottom: 1rem;
}

.Detail {
  /* max-width: var(--s5); */
  /* word-wrap:  */
}

.Header {
  font-weight: 700;
}
