/* :import('../index.css') {
  s1: --s1;
  s5: s5;
} */

.Page {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.Sidebar {
  flex-basis: 26rem;
  flex-grow: 1;
  /* border: 1px solid blue; */
  margin: var(--s-2);
}

.MainContent {
  flex-grow: 999;
  flex-basis: 0;
  /* border: 1px solid green; */
  min-width: calc(50% - 1rem);
  margin: var(--s-2);
}
