/* :import('../index.css') {
  s1: --s1;
  s5: s5;
} */

.Page {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: var(--s-2) 0;
  /* border: 1px solid yellow; */
}

.Sidebar {
  flex-basis: 26rem;
  flex-grow: 1;
  margin-right: var(--s-2);
  /* border: 1px solid red; */
}

.MainContent {
  flex-grow: 999;
  flex-basis: 0;
  /* border: 1px solid green; */
  /* min-width: calc(50% - 1rem); */
}
