{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "globals": {
    "process": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "prettier/prettier": [
      "error",
      { "trailingComma": "es5", "singleQuote": true }
    ]
  },
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "server"]
      }
    }
  }
}
