.container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.clues {
  max-height: calc(40px * 15);
}

.board {
  border-collapse: collapse;
  font-size: 25px;
  border: 3px solid #333;
  margin-right: 40px;
}

.cell {
  position: relative;
  border: 0.5px solid black;
  height: 38px;
  width: 38px;
  margin: 0;
  vertical-align: middle;
}

.cellInput {
  height: 38px;
  width: 38px;
  background: rgb(139, 190, 255);
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.black {
  height: 15px;
  width: 1px;
  background: black;
  border: 1px solid #555;
  margin: 0;
}

.clues {
  display: flex;
}

.reveal {
  position: fixed;
  bottom: 28px;
  right: 200px;
}

.number {
  position: absolute;
  font-size: 12px;
  top: 1px;
  left: 1px;
}

.acrossClues {
  border: 1px solid #a0eaff;
  display: flex;
  flex-flow: column;
  wrap: wrap;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.downClues {
  border: 1px solid green;
  display: flex;
  flex-flow: column;
  wrap: wrap;
  width: 50%;
  height: 100%;
  overflow: scroll;
}

.clue {
  width: 100%;
  border: 1px solid pink;
}
