.board {
  /* border-collapse: collapse; */
  font-size: 2vw;
  border: 2px solid #333;
  /* margin-right: 40px; */
}

.cell {
  position: relative;
  border: 1px solid black;
  /* border-top: none; */
  height: 2.5vmin;
  max-height: 34px;
  width: 2.5vmin;
  max-width: 34px;
  margin: 0;
  cursor: default;
  vertical-align: middle;
}

.cellInput {
  height: 2.5vmin;
  max-height: 34px;
  width: 2.5vmin;
  max-width: 34px;
  background: rgb(139, 190, 255);
  text-transform: capitalize;
  display: flex;
  cursor: default;
  align-items: flex-end;
  justify-content: center;
}

.black {
  height: 2.5vw;
  max-height: 28px;
  width: 2.5vw;
  max-width: 28px;

  background: var(--black);
  border: 1px solid #555;
  margin: 0;
}

.number {
  position: absolute;
  font-size: 1vw;
  top: 1px;
  left: 1px;
}
