.board {
  /* border-collapse: collapse; */
  font-size: 1.8vw;
  border: 2px solid #333;
  width: 100%;
  /* margin-right: 40px; */
}

.cell {
  position: relative;
  border: 1px solid black;
  /* border-top: none; */
  /* height: 2.6vw; */
  max-height: 34px;
  max-width: 34px;
  cursor: default;
}

.cellInput {
  position: absolute;
  top: 0;
  bottom: 0;
  /* max-height: 34px;
  max-width: 34px; */
  background: rgb(139, 190, 255);
  text-transform: capitalize;
  display: flex;
  cursor: default;
  align-items: flex-end;
  justify-content: center;
}

.black {
  /* height: 2.5vw;
  max-height: 28px;
  width: 2.5vw;
  max-width: 28px; */

  background: var(--black);
  border: 1px solid #555;
  margin: 0;
}

.number {
  position: absolute;
  font-size: 0.8vw;
  z-index: 1;
  top: 1px;
  left: 1px;
}

@media screen and (min-width: 1200px) {
  .board {
    font-size: 26px;
  }

  .number {
    font-size: 14px;
  }
}
