.clue {
  padding: 5px;
  display: flex;
  height: auto;
  /* position: relative; */
  /* border: 1px solid blue; */
}

.highlighted {
  composes: clue;
  background: rgb(99, 167, 255);
}

.secondaryNoHighlight {
  min-width: 10px;
  margin-right: 4px;
  /* border: 1px solid red; */
}

.secondaryHighlight {
  composes: secondaryNoHighlight;
  background: rgb(99, 167, 255);
}
.clues {
  overflow: scroll;
}

.acrossClues {
  composes: clues;
}

.downClues {
  composes: clues;
}
