.clue {
  padding: 5px;
  display: flex;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container {
  height: 100%;
  border: 1px solid blue;
  overflow-y: scroll;
}

.title {
  position: absolute;
  font-weight: 600;
}

.clueText {
  max-width: var(--s5);
  background: inherit;
  color: var(--black);
  transition: 0.2s;
}

.hiddenClueText {
  composes: clueText;
  background: #999;
  color: #999;
  border-radius: 3px;
}

.highlighted {
  composes: clue;
  background: rgb(99, 167, 255);
}

.secondaryNoHighlight {
  min-width: 10px;
  margin-right: 4px;
  /* border: 1px solid red; */
}

.secondaryHighlight {
  composes: secondaryNoHighlight;
  background: rgb(99, 167, 255);
}

.clues {
  height: calc(100% - var(--s0));
  margin-top: var(--s0);
}

.container::-webkit-scrollbar {
  width: var(--s-3);
  background-color: #ddd;
}

.container::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
