.clue {
  padding: 5px;
  display: flex;
}

.container {
  height: 100%;
}

.title {
  position: absolute;
  font-weight: 600;
}

.clueText {
  max-width: var(--s5);
}
.highlighted {
  composes: clue;
  background: rgb(99, 167, 255);
}

.secondaryNoHighlight {
  min-width: 10px;
  margin-right: 4px;
  /* border: 1px solid red; */
}

.secondaryHighlight {
  composes: secondaryNoHighlight;
  background: rgb(99, 167, 255);
}

.clues {
  height: calc(100% - var(--s0));
  margin-top: var(--s0);
  overflow-y: scroll;
}

.clues::-webkit-scrollbar {
  width: var(--s-3);
  background-color: #ddd;
}

.clues::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
