.page {
  /* min-height: calc(100vh - var(--navbarHeight)); */
  /* max-width: 1200px; */
  /* width: 100%; */
  margin: var(--s0);
  /* max-width: 1500px; */
  z-index: 1;
}
.wrapper {
  margin-top: var(--s-2);
  display: grid;
  width: 100%;
  /* border: 2px solid pink; */
  grid-template-columns: 1.61fr minmax(min-content, 1fr);
  grid-template-rows: 98vh;
  grid-column-gap: var(--s-2);
}

.details {
}

.focusedCluePosition {
  font-weight: 700;
  margin-right: var(--s-1);
}

.focusedClue {
  background: var(--highlightBlue);
  padding: var(--s-1);
  font-size: calc(var(--s-2) * 2);
  margin-bottom: var(--s-2);
  transition: 0.2s;
}

.hiddenClue {
  composes: focusedClue;
  color: var(--highlightBlue);
}

/* .clues {
  display: flex;
  height: 80vh;
} */

/* .container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
} */
