.page {
  min-height: calc(100vh - var(--navbarHeight));
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */
  /* border: 1px solid red; */
  margin: 0 20px;
  z-index: 1;
}
.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr minmax(min-content, 1fr);
  grid-template-rows: 80vh;
  grid-column-gap: var(--s-1);
  border: 1px solid red;
}

.details {
}

.focusedCluePosition {
  font-weight: 700;
  margin-right: var(--s-1);
}

.focusedClue {
  background: var(--highlightBlue);
  padding: var(--s-1);
  font-size: calc(var(--s-2) * 2);
  margin-bottom: var(--s-2);
  transition: 0.2s;
}

.hiddenClue {
  composes: focusedClue;
  color: var(--highlightBlue);
}

/* .clues {
  display: flex;
  height: 80vh;
} */

/* .container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
} */
