.container {
  background: var(--black);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subContainer {
  display: flex;
}

.menuItem {
  padding: 18px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
