.Container {
  composes: Box from '../index.css';
  padding: 0;
  display: flex;
  border: 1px solid var(--darkBlue);
  flex-direction: column;
}

.Background {
  width: 100%;
  height: var(--s4);
  background-image: url('./testBackground.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position-x: center;
}

.Bottom {
  display: flex;
  flex-wrap: wrap;
}

.AvatarImage {
  border-radius: 50%;
  height: var(--s3);
  width: var(--s3);
  margin-left: var(--s1);
  margin-top: calc(var(--s3) / -2);
  border: 2px solid #0a2a3f;
}

.UserInfo {
  height: var(--s4);
  flex: 1 0 var(--s3);
  padding: var(--s-1);
  display: flex;
  flex-flow: column;
}

.Name {
  font-size: var(--s0);
  margin-bottom: var(--s-4);
  composes: TextTruncate from '../helpers.module.css';
}
